<div class="portfolio">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-uppercase mb-4">PORTFOLIO COMPONENT</h2>
        <div class="star-divider">
          <div class="line"></div>
          <i class="fas fa-star"></i>
          <div class="line"></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/poert1.png" alt="Portfolio Item 1" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/port2.png" alt="Portfolio Item 2" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/port3.png" alt="Portfolio Item 3" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/poert1.png" alt="Portfolio Item 4" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/port2.png" alt="Portfolio Item 5" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="portfolio-item">
          <img src="/img/port3.png" alt="Portfolio Item 6" class="img-fluid">
          <div class="portfolio-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>