<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container w-75">
        <a class="navbar-brand fw-bold text-white fs-4" routerLink="/">START FRAMEWORK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link nav-button" routerLink="/about" routerLinkActive="active-button">ABOUT</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link nav-button" routerLink="/portfolio" routerLinkActive="active-button">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-button" routerLink="/contact" routerLinkActive="active-button">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>